{% extends "commis/base.html" %}

{% block content %}
<div id="block-forms" class="block">
  <div class="content">
    <h2 class="title">Login</h2>
    <div class="inner">
      {% if form.errors %}
      <p>Your username and password didn't match. Please try again.</p>
      {% endif %}

      <form method="post" action="{% url django.contrib.auth.views.login %}">
        {% csrf_token %}
        <table>
          <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
          </tr>
          <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
          </tr>
        </table>
        <input type="submit" value="Login" />
        <input type="hidden" name="next" value="{{ next }}" />
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block sidebar_notice %}
<h4>Where do I get a Login?</h4>
<p>Any existing Admin level user can create new users.</p>
<p>To create the first user, please login with the default admin credential, which by default is:</p>
<p>username: admin, password: p@ssw0rd1 (May be different if you've set it in Chef::Config)</p>
<p>Please change the default password immediately after logging in!</p>
<p>Once you have an User, you can associate an OpenID with the User and login using the OpenID as the User.</p>
<p>Administrators can associate OpenID to any User.</p>
{% endblock %}