<script type="text/javascript">
$(document).ready(function() {
  $$('jsonstr').value = JSON.stringify({});
  if (BCJTEP.build()) {
    $$('results').innerHTML = '&nbsp;';
    $$('editortab').className = 'show';
    $$('searchtab').className = 'show';
  }
});
</script>
<div id="jsoneditor">
  <div id="treecontainer">
    <div id="div1"></div>
  </div>
  <div id="tabcontainer">
    <div class="tablayout" id="tab-container-1">
      <ul class="tablayout" id="tab-container-1-nav">
        <li class="noshow" id="searchtab">
          <a href="#tab1">search</a>
        </li>
        <li class="noshow" id="editortab">
          <a href="#tab2">editor</a>
        </li>
        <li id="sourcetab">
          <a href="#tab3">source</a>
        </li>
      </ul>
      <div class="tab" id="tab1">
        <table class="icanhastable">
          <tr>
            <td>
              <span>search :</span>
              <input id="keyword" type="text" />
              <input id="search" type="button" value="Find" />
            </td>
          </tr>
          <tr>
            <td>
              <div id="results">&nbsp;</div>
            </td>
          </tr>
        </table>
      </div>
      <div class="tab" id="tab2">
        <table class="icanhastable">
          <tr>
            <td>
              <div class="button" id="add" title="Add a new attribute"></div>
              <div class="button" id="delete" title="Delete current attribute"></div>
              <div id="savedstatus" style="display:none;">
                <img src="/images/jsonedit/saved.png" />
                <span>Saved!</span>
              </div>
              <div id="deletedstatus" style="display:none;">
                <img src="/images/jsonedit/deleted.png" />
                <span>Deleted!</span>
              </div>
            </td>
            <td>
              type :
              <select id="jsontypes">
                <option>Select Type</option>
              </select>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <div id="jsonnameinput">
                name :
                <input class="" id="jsonname" size="55" type="text" />
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <textarea class="" cols="55" id="jsonvalue" rows="5" wrap="virtual"></textarea>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <div id="jsonpath">&nbsp;</div>
              <div id="jsonmode">&nbsp;</div>
            </td>
          </tr>
          <tr>
            <td style="text-align:left !important">
              <input checked="true" id="autodetect" type="checkbox" />
              <label for="autodetect">Autodetect type of attribute?</label>
            </td>
            <td>
              <input id="savebutton" type="button" value="Save Attribute" />
              <input id="addbutton" type="button" value="Add Attribute" />
            </td>
          </tr>
        </table>
      </div>
      <div class="tab" id="tab3">
        <div class="tablayout nested" id="tab-container-2">
          <ul class="tablayout" id="tab-container-2-nav">
            <li>
              <a href="#tab3a">json</a>
            </li>
          </ul>
          <div class="tabn" id="tab1a">
            <table class="icanhastable">
              <tr>
                <td>
                  <div class="button" id="refresh" title="Reload JSON from Tree"></div>
                  <div class="button" id="buildbutton" title="Load JSON from Source"></div>
                </td>
              </tr>
              <tr>
                <td>
                  <textarea class="" cols="55" id="jsonstr" rows="10" wrap="virtual"></textarea>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div id="console">
        <div id="bar">
          <a id="consolebar">Error Console</a>
        </div>
        <div id="log"></div>
      </div>
    </div>
  </div>
</div>