{% extends "commis/block.html" %}
{% load url from future %}
{% load i18n commis %}

{% block block_title %}{% trans 'Search' %}{% endblock %}

{% block block_nav_outer %}{% endblock %}

{% block block_content %}
{% if form.is_searchable %}
<div id="search_formats">
  {% trans 'Other formats' %}:
  <a href="{{ request.get_full_path }}&format=csv">{% trans 'CSV' %}</a>
  <a href="{{ request.get_full_path }}&format=json">{% trans 'JSON' %}</a>
</div>
{% endif %}
<form id="search" method="get">
  {% if not form.is_valid %}
  <div class="errors">
  {{ form.index.errors }}
  {{ form.q.errors }}
  </div>
  {% endif %}
  {{ form.index }}
  {{ form.q }}
  <input type="submit" value="{% trans 'Search' %}" />
</form>
{% if form.is_searchable %}
<table class="table">
  <tr>
    <th>{% trans 'Name' %}</th>
    {% for field in form.table_header %}
    <th>{{ field }}</th>
    {% endfor %}
  </tr>
  {% for row in form.table %}
  <tr class="{% cycle 'odd' 'even' %}">
    <td><a href="{{ row.url }}">{{ row.obj }}</a></td>
    {% for field in row.data %}
    <td>{{ field }}</td>
    {% endfor %}
  </tr>
  {% empty %}
  <tr>
    <td colspan="{{ form.table_header|length|add:1 }}">
    {% blocktrans %}No results found.{% endblocktrans %}
    </td>
  </tr>
  {% endfor %}
</table>
{% endif %}
{% endblock %}
