{% extends "commis/block.html" %}
{% load url from future %}
{% load i18n commis commis_status %}

{% block block_title %}{% trans 'Search' %}{% endblock %}

{% block block_nav_outer %}{% endblock %}

{% block block_content %}
<form method="get">
  {% if not form.is_valid %}
  <div class="errors">
  {{ form.index.errors }}
  {{ form.q.errors }}
  </div>
  {% endif %}
  {{ form.index }}
  {{ form.q }}
  <input type="submit" value="{% trans 'Search' %}" />
</form>
{% if form.is_searchable %}
<table class="table">
  <tr>
    <th class="first">{% trans 'Name' %}</th>
    <th>&nbsp;</th>
    <th class="last">&nbsp;</th>
  </tr>
  {% for row in form.results %}
  {% with obj=row.object %}
  <tr class="{% cycle 'odd' 'even' %}">
    <td>{{ obj }}</td>
    <td></td>
    <td></td>
  </tr>
  {% endwith %}
  {% empty %}
  <tr>
    <td colspan="3">
    {% blocktrans %}No results found.{% endblocktrans %}
    </td>
  </tr>
  {% endfor %}
</table>
{% endif %}
{% endblock %}
