{% extends "commis/block.html" %}
{% load url from future %}
{% load i18n commis commis_search %}

{% block block_title %}{% trans 'Search' %}{% endblock %}

{% block block_nav_outer %}{% endblock %}

{% block block_content %}
<form id="search" method="get">
  {% if not form.is_valid %}
  <div class="errors">
  {{ form.index.errors }}
  {{ form.q.errors }}
  </div>
  {% endif %}
  {{ form.index }}
  {{ form.q }}
  <input type="submit" value="{% trans 'Search' %}" />
</form>
{% if form.is_searchable %}
<table class="table">
  <tr>
    <th>{% trans 'Name' %}</th>
    {% for field in form.cleaned_data.q_fields %}
    <th>{{ field }}</th>
    {% endfor %}
  </tr>
  {% for row in form.results %}
  {% with obj=row.object %}
  <tr class="{% cycle 'odd' 'even' %}">
    <td><a href="{{ obj.get_absolute_url }}">{{ obj }}</a></td>
    {% for field in form.cleaned_data.q_fields %}
    <td>{{ row|commis_search_row_get:field|join:" " }}</td>
    {% endfor %}
  </tr>
  {% endwith %}
  {% empty %}
  <tr>
    <td colspan="{{ form.cleaned_data.q_fields|length|add:1 }}">
    {% blocktrans %}No results found.{% endblocktrans %}
    </td>
  </tr>
  {% endfor %}
</table>
{% endif %}
{% endblock %}
