{% extends "commis/block.html" %}
{% load i18n commis commis_node %}

{% block extrahead %}{{ block.super }}{% commis_jsoneditor_includes %}{% endblock %}

{% block block_title %}{{ opts.verbose_name_plural|capfirst }}{% endblock %}

{% block block_nav %}
<li class="first"><a href="{% url commis-webui-node-index %}">List</a></li>
<li class="active"><a href="{% url commis-webui-node-create %}">Create</a></li>
{% endblock %}

{% block block_content_outer %}
<div class="content nodeFormContainer">
  <form method="post" id="{{ form_id }}" class="form">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="group form">
      <label class="label" for="node_name">Name</label>
        {{ form.name }}
      <span class="description">The name of the Node</span>
    </div>

    {% if form.run_list.errors %}
    <p>{{ form.run_list.errors }}</p>
    {% endif %}
    {{ form.run_list }}

    <div class="group">
      <div class="actions-bar">
        <input type="submit" id="{{ submit_id }}" class="button" value="{{ submit_name }}" />
      </div>
    </div>
  </form>
</div>
{% endblock %}
