{% extends "commis/block.html" %}

{% block block_type %}forms{% endblock %}
{% block block_title %}Create New User{% endblock %}

{% block block_nav %}
<li class="first"><a href="{% url commis-webui-user-index %}">List</a></li> 
<li class="active"><a href="{% url commis-webui-user-create %}">Create</a></li> 
{% endblock %}

{% block block_content %}
<form method="post">
  {% csrf_token %}
  {{ form.non_field_errors }}
  <table class="table">
    {% for field in form %}
    {% if field.errors %}
    <tr><td colspan="2">{{ field.errors }}</td></tr>
    {% endif %}
    <tr>
      <td>{{ field.label_tag }}</td>
      <td>{{ field }}</td>
    </tr>
    {% endfor %}
  </table>
  <div class="group navform">
    <input type="submit" value="Create">
  </div>
</form>
{% endblock %}
