{% extends "commis/block.html" %}
{% load i18n commis %}

{% block block_title %}{% blocktrans %}Delete User: {{ object.username }}{% endblocktrans %}{% endblock %}

{% block block_nav %}
<li class="first"><a href="{% url commis-webui-user-index %}">{% trans 'List' %}</a></li>
<li class=""><a href="{% url commis-webui-user-create %}">{% trans 'Create' %}</a></li>
<li class=""><a href="{% url commis-webui-user-show object.username %}">{% trans 'Show' %}</a></li>
<li class=""><a href="{% url commis-webui-user-edit object.username %}">{% trans 'Edit' %}</a></li>
<li class="active"><a href="{% url commis-webui-user-delete object.username %}">{% trans 'Delete' %}</a></li>
{% endblock %}

{% block block_content %}
{% commis_delete_confirmation object %}
{% endblock %}
