{% extends "commis/block.html" %}

{% block block_title %}Edit User: {{ cur_user.username }}{% endblock %}

{% block block_nav %}
<li class="first"><a href="{% url commis-webui-user-index %}">List</a></li>
<li class=""><a href="{% url commis-webui-user-create %}">Create</a></li>
<li class=""><a href="{% url commis-webui-user-show cur_user.username %}">Show</a></li>
<li class="active"><a href="{% url commis-webui-user-edit cur_user.username %}">Edit</a></li>
<li class=""><a href="{% url commis-webui-user-delete cur_user.username %}">Delete</a></li>
{% endblock %}

{% block block_content %}
<form method="post">
  {% csrf_token %}
  {{ form.non_field_errors }}
  <table class="table">
    {% for field in form %}
    {% if field.errors %}
    <tr><td colspan="2">{{ field.errors }}</td></tr>
    {% endif %}
    <tr>
      <td>{{ field.label_tag }}</td>
      <td>{{ field }}</td>
    </tr>
    {% endfor %}
  </table>
  <div class="group navform">
    <input type="submit" value="Create">
  </div>
</form>
{% endblock %}
