{% extends "commis/generic/base.html" %}
{% load i18n %}

{% block block_content_outer %}
<div class="content {{ block_nav.name }}FormContainer">
  <form method="post" id="{{ action }}_{{ block_nav.name }}" class="form">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="group form">
        {{ form.name.label_tag }}
        {{ form.name }}
      <span class="description">{% blocktrans with verbose_name=opts.verbose_name %}The name of the {{ verbose_name }}{% endblocktrans %}</span>
    </div>

    {% block edit_content %}
      {% for field in form %}
      {% if field.name  != 'name' %}
      <div class="group form">
        {% if field.errors %}
        <div class="errors">{{ field.errors }}</div>
        {% endif %}
        {{ field.label_tag }}
        {{ field }}
        <span class="description">{{ field.help_text }}</span>
      </div>
      {% endif %}
      {% endfor %}
    {% endblock %}

    <div class="group" style="clear:both;">
      <div class="actions_bar">
        <input type="submit" id="{{ action }}_{{ opts.app_label }}_button" class="button" value="{{ action|capfirst }} {{ opts.verbose_name|capfirst }}" />
      </div>
    </div>
  </form>
</div>
{% endblock %}
