{% extends "commis/generic/base.html" %}
{% load url from future %}
{% load i18n %}

{% block block_content %}
<table class="table">
  <tr>
    <th class="first" colspan="2">{% trans 'Name' %}</th>
    <th>&nbsp;</th>
    <th class="last">&nbsp;</th>
  </tr>
  {% if not object_list %}
  <tr><td colspan="4">
    {% blocktrans with verbose_name_plural=opts.verbose_name_plural %}No {{ verbose_name_plural }} found.{% endblocktrans %}
  </td></tr>
  {% endif %}
  {% for obj, links in object_list %}
  <tr class="{% cycle 'odd' 'even' %}">
    <td colspan="2">
      {% if links.show %}
      <a href="{{ links.show }}">{{ obj }}</a>
      {% else %}
      {{ obj }}
      {% endif %}
    </td>
    <td>
      {% if links.edit %}<a href="{{ links.edit }}">{% trans 'Edit' %}</a>{% endif %}
      {% if links.edit and links.delete %}|{% endif %}
      {% if links.delete %}<a href="{{ links.delete }}">{% trans 'Delete' %}</a>{% endif %}
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
