{% extends "commis/generic/base.html" %}
{% load url from future %}
{% load i18n %}

{% block block_title %}{{ opts.verbose_name_plural.capitalize }}{% endblock %}

{% block block_content %}
<table class="table">
  <tr>
    {% block list_header %}
    <th class="first" colspan="2">{% trans 'Name' %}</th>
    <th>&nbsp;</th>
    <th class="last">&nbsp;</th>
    {% endblock %}
  </tr>
  {% for obj, links in object_list %}
  <tr class="{% cycle 'odd' 'even' %}">
    {% block list_row %}
    <td colspan="2">
      {% if links.show %}
      <a href="{{ links.show.link }}">{{ obj }}</a>
      {% else %}
      {{ obj }}
      {% endif %}
    </td>
    <td>
      {% if links.edit %}<a href="{{ links.edit.link }}">{% trans 'Edit' %}</a>{% endif %}
      {% if links.edit and links.delete %}|{% endif %}
      {% if links.delete %}<a href="{{ links.delete.link }}">{% trans 'Delete' %}</a>{% endif %}
    </td>
    {% endblock %}
  </tr>
  {% empty %}
  <tr>
    {% block list_empty %}
    <td colspan="4">
    {% blocktrans with verbose_name_plural=opts.verbose_name_plural %}No {{ verbose_name_plural }} found.{% endblocktrans %}
    </td>
    {% endblock %}
  </tr>
  {% endfor %}
</table>
{% endblock %}
